* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}


/* #menu h1 {
    position: fixed;
    top: 27px;
    right: 129px;
    border: 1.5px solid rgb(30, 30, 33);
    border-radius: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background-color: rgb(30, 30, 33);
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

here this is in my opinion is unprofessional i think , right i have to wright a lot more , i upload it so that you can understand , what is a more optimised solution of it

#menu h2 {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 1.5px solid rgb(30, 30, 33);
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 20px;
    background-color: rgb(30, 30, 33);
    color: white;
    font-family: sans-serif;
    font-weight: 500;
} */

#nav {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 40px;

}

#nav h3 {
    margin-left: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 30, 33);
    border-radius: 50px;
    padding: 16px 22px;

}

#intro {
    height: 68%;
    width: 100%;
    padding: 85px 80px;
}

#intro h1 {
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 30, 33);
    font-weight: 600;
    line-height: 115px;
    letter-spacing: -5px;

}

#place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

#place h3,
#place h4 {
    font-size: 28px;
    font-family: sans-serif;
    color: rgb(30, 30, 33);
    font-weight: 600;
}

#hero-image {
    height: 95%;
    width: 100%;
    background-image: url('https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp');
    background-size: cover;

}

#about {
    height: 93%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

#about h2 {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    width: 58%;
    color: rgb(30, 30, 33);
    line-height: 83px;
    letter-spacing: -3px;

}

#about-part2 {
    width: 35%;
    height: 100%;
    border-left: 2px solid rgb(30, 30, 33);
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3 {

    color: rgb(30, 30, 33);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;

}

#icons i {

    background-color: rgb(30, 30, 33);
    color: white;
    font-size: 25px;
    border-radius: 50px;
    padding: 13px;
    margin-right: 10px;

}

#icons i:hover {
    background-color: rgb(201, 27, 236);
    color: rgb(0, 0, 0);
}

#work {
    height: 93%;
    width: 100%;
    border-top: 2px solid rgb(30, 30, 33);
    display: flex;
    padding: 40px 50px;

}

#work1 {
    width: 35%;
    height: 100%;
    border-right: 2px solid rgb(30, 30, 33);
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#work1 h3 {
    font-size: 28px;
    font-family: sans-serif;
    color: rgb(30, 30, 33);
    font-weight: 600;
    letter-spacing: -0.5px;
}

#work1 i {
    font-size: 30px;
}

#work2 {
    width: 65%;
    height: 100%;
    padding: 0 50px;
}

.work2-part {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.work2-part:nth-child(1) {

    padding-top: 20px;

    border-bottom: 2px solid rgb(30, 30, 33);

}

.work2-part .elem {
    width: 50%;
    height: 100%;
}

.elem:nth-child(1) {

    border-right: 2px solid rgb(30, 30, 33);
    padding-left: 50px;

}

.elem:nth-child(2) {

    padding-left: 50px;

}

.work2-part .elem h4 {
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(30, 30, 33);
    font-weight: 600;
    letter-spacing: -0.5px;

}

.elem p {
    font-size: 19px;
    font-family: sans-serif;
    color: rgba(30, 30, 33, 0.7);
    font-weight: 500;
    margin-top: 20px;
}